/* body{
  border: solid red;
  min-width: none;
  min-height: 1000px;
} */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  /* border: solid green 2px; */
  /* min-height: 100%; */
}

/* Add some content at the bottom of the video/page */
.video-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.square3d-animation {
  /* width: 100px;
  height: 100px; */
  /* background-color: hotpink; */
  animation: changeDimention 4s infinite;
  /* position: relative; */
  left: 60px;
  /* box-shadow: -0.5em 0.5em 0 #e1e1e1; */
}
   .animated-bounce { 
            /* background-image: url(/css/images/logo.png);  */
            /* background-repeat: no-repeat;
            background-position: left top; 
            padding-top:95px;
            margin-bottom:60px; */
            /* -webkit-animation-duration: 1s;
            animation-duration: 1s;  */
            /* -webkit-animation-fill-mode: both; 
            animation-fill-mode: both;  */
            border: solid red;
     animation:jump 4s infinite ;
     transition: all ease-in-out 1s ;
         }
         

  /* @keyframes bounce { 
            /* 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}  */
            /* 0
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);}  * /
            from{
              transform: translateY(0)rotate(40deg);
              top:-1000px;
            }
            to{
              transform: translateY(-30px)rotate(00deg);
               
            }
         } */

@keyframes changeDimention {
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-55deg) skew(5deg, 5deg);
    /* box-shadow: -2em 2em 0 #e1e1e1; */
    left: 50px;
  }
  0% {
    transform: rotate(-80deg) skew(8deg, 25deg);
    /* box-shadow: -4em 4em 0 #e1e1e1; */
    left: 40px;
  }
}
/* @keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -150%) scale(1, 1); }
    55% { transform: translate(-50%, -150%) rotate(15deg); }
    60% { transform: translate(-50%, -150%) rotate(-15deg); }
    65% { transform: translate(-50%, -150%) rotate(15deg); }
    70% { transform: translate(-50%, -150%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
} */

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 4s;
}
/* This only changes this particular animation duration */
.animate__animated.animate__heartBeat ,
.animate__animated.animate__wobble ,
.animate__animated.animate__bounce ,
.animate__animated.animate__flash 
 {
   --animate-duration: 8s;
  --animate-delay: 4s;
}